<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Detalles del Encargado</h2>
      <div class="card">
        <div class="card-header">
          ID: {{encargado.id}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Nombre:</strong> {{encargado.nombre}}</li>
          <li class="list-group-item"><strong>Apellido:</strong> {{encargado.apellido}}</li>
          <li class="list-group-item"><strong>Cédula:</strong> {{encargado.cedula}}</li>
          <li class="list-group-item"><strong>Email:</strong> {{encargado.email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
